<%= form_for(@setting, url: settings_path, html: { method: 'post',  :multipart => true, class: 'form-horizontal' }) do |f| %>
    <div class="form-group">
      <%= label_tag "application_name", "Application name: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag :application_name, Setting['application_name'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "logo", "Logo: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= render partial: 'uploader/display_image', locals: {user: Company.first } if Company.first %>
        <%= file_field_tag :logo, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "phone_number", "Numero de téléphone: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag :phone_number, Setting['phone_number'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "company_address", "Addresse Société: ", class: 'col-md-2 control-label ' %>
      <div class="col-md-9">
        <%= text_field_tag :company_address, Setting['company_address'], class: 'form-control address' %>
      </div>
      <%= render partial: 'map_address', locals: {
          location: "#{f.object_name.gsub(/[\[\]]+/, '_').chop}_address",
          object: f.object
      } %>
    </div>

    <div class="form-group">
      <%= label_tag "email_from", "Email from: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag :email_from, Setting['email_from'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "n_employeur", "N° employeur: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= text_field_tag :n_employeur, Setting['n_employeur'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "montant_timbre", "Montant Timbre: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= number_field_tag :montant_timbre, Setting['montant_timbre'], class: 'form-control' %>
      </div>
    </div>

     <div class="form-group">
      <%= label_tag "tva_vente", "TVA vente (%): ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= number_field_tag :tva_vente, Setting['tva_vente'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "tva_location", "TVA Location(%): ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= number_field_tag :tva_location, Setting['tva_location'], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "Format date", "Format date: ", class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= select_tag :format_date, options_for_select(date_format_setting_options('en'), selected: Setting['format_date']), {class: 'form-control'} %>
      </div>
    </div>

    <%= f.text_area  :home_page_content, class: 'ck-editor' %>


    <div class="form-group margin-top-10" >
      <div class="col-xs-12">
        <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>