<fieldset>
  <legend></legend>
  <%= form_for( room, html: { class: 'form-horizontal ' }) do |f| %>
      <% if room.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

            <ul>
              <% room.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label 'Name', class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-2 control-label">
          <i class="" id="icon_result"></i>
          <%= form.label 'Icon', class: '' %>
        </div>

        <div class="col-md-8">
          <%= f.select :icon, options_for_select(Room::ICONS, selected: f.object.icon), class: 'form-control'%>

          <script>
              $(function(){
                  $('#channel_icon').on('change', function(){
                      $("#icon_result").removeAttr("class");
                      $("#icon_result").attr("class", "fa "+$(this).val() );
                  })
              })
          </script>
        </div>
      </div>



      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to 'Cancel', rooms_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit 'Save', class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>